<% list.each do |task| %>
      <div class="task">
        <%= check_box_tag 'task_ids[]', task.id -%>
        <div class="title-task">
          <%= link_to task.title, task_path(task) %>
          <div class="hover-over">
            <%= link_to 'Edit', edit_task_path(task), :remote => false %>
            <%= link_to 'Delete', task_path(task),
                           method: :delete,
                           data: { confirm: 'Are you sure?', :remote => false } %>
          </div>
        </div>
        <hr>
        <p><%= link_to 'Edit', edit_task_path(task) %></p>
        <p><%= link_to 'Delete', task_path(task),
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
        </p>
        <div class="priority">
        <% if task.priority == 0 or task.priority == 2 %>
            <p><%= link_to 'mark as active', task_path(task, task: {priority: 1}), method: :put %></p>
        <% else %>
            <p>
              <%= link_to 'mark as completed', task_path(task, task: {priority: 2}), method: :put %>
              <%= link_to 'mark as inactive', task_path(task, task: {priority: 0}), method: :put %>
            </p>
        <% end %>
        </div>
      </div>
<% end %>

