<div class="input-form" id="input_task_form">
<%= form_for @task, validate: true, remote: true do |f| %>
    <form role="form">
      <%= render 'errors' %>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control", validate: true %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control", validate: true %>
      </div>
      <div class="form-group">
        <%= f.label :due_date %><br>
        <%= f.text_field :due_date, class: "form-control", id: 'datetimepicker', validate: true %>
      </div>
      <div class="form-group">
        <%= f.label :priority, 'Priority(1..100):' %><br>
        <%= f.text_field :priority, class: "form-control", validate: true %>
      </div>
      <% Task::STATUS.each do |elem| %>
          <div class="form-group">
            <% if @task.status.present? %>
                <%= f.radio_button :status, elem, :checked => (elem == @task.status) %>
            <% else %>
                <%= f.radio_button :status, elem, :checked => (elem == 'Active'), :disabled => (elem != 'Active') %>
          <% end %>
            <%= f.label elem %><br />
          </div>
      <% end %>
      <p>
          <%= f.submit %>
      </p>
    </form>
<% end %>
</div>