<% if user_signed_in? %>
    <li><%= link_to 'Full list sorted by title', root_path(sort: 'title') %></li>
    <li><%= link_to 'Batch delete', root_path, id: "batch-button" %></li>
    <h1>List of tasks</h1>
    <div class="row">
      <%= form_tag destroy_multiple_tasks_path, method: :delete do %>
    <% if @tasks %>
        <div class="col-lg-4">
           <%= render @tasks %>
        </div>
    <% else %>


        <div class="col-lg-4">
          <h1>Active</h1>
          <%= render @active_tasks %>
        </div>
        <div class="col-lg-4">
          <h1>Completed</h1>
          <%= render @completed_tasks %>
        </div>
        <div class="col-lg-4">
          <h1>Inactive</h1>
          <%= render @inactive_tasks %>
        </div>
        </div>

        <% end %>
          <div class="batch-delete">
            <input type="checkbox" id="selectAll" value="selectAll"> Select / Deselect All<br/><br/>
            <%= submit_tag 'Delete selected' %>
          </div>
    <% end %>


    <div class="new-task">
      <p align="center"><%= link_to 'New task', new_task_path, id: 'new_task_link' %></p>
    </div>

<% else %>

    <div class="about">
      <h1>Task Management System</h1>
        <h2>
          <p>Task management is the process of managing a task through its lifecycle.</p>
          <p>It involves planning, testing, tracking and reporting.</p>
          <p>Task management can help either individuals achieve goals, or groups of
          individuals collaborate and share knowledge for the accomplishment
          of collective goals.</p>
        </h2>
      <%= link_to image_tag('sign-up.png', class: "sign-up"), new_user_registration_path %>
    </div>
<% end %>